<div class="offer-list">
    <div class="offer-list-table">
        <nz-table #basicTable [nzData]="offerData">
            <thead>
                <tr>
                    <th>Mode</th>
                    <th>Movement Type</th>
                    <th>Incoterms</th>
                    <th>Countries-Cities</th>
                    <th>Package Type</th>
                    <th>Unit -1</th>
                    <th>Unit -2</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody>

                @for (data of basicTable.data; track data) {
                <tr>
                    <td>{{ data.mode }}</td>
                    <td>{{ data.movementType }}</td>
                    <td>{{ data.incoterms }}</td>
                    <td>{{ data.countryCity }}</td>
                    <td>{{ data.packageType }}</td>
                    <td>{{ data.unit1 }}</td>
                    <td>{{ data.unit2 }}</td>
                    <td>{{data.currency}}</td>
                </tr>
                }
            </tbody>
        </nz-table>
    </div>
</div>