.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f3f3f3;
    &-form {
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
        max-width: 400px;
        width: 100%;
    }
}
