<div class="offer-page">
    <div class="offer-page-filter">
        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="pb-3">
                <dropdown-component [options]="modes" formControlName="mode" type="mode"></dropdown-component>
            </div>
            <div class="pb-3">
                <dropdown-component [options]="movementTypes" formControlName="movementType"
                    type="movementType"></dropdown-component>
            </div>
            <div class="pb-3">
                <dropdown-component [options]="incoterms" formControlName="incoterms"
                    [type]="'incoterms'"></dropdown-component>
            </div>
            <div class="pb-3">
                <autocomplate-dropdown-component [options]="countriesCities" formControlName="countryCity"
                    type="countryCity"></autocomplate-dropdown-component>
            </div>
            <div class="pb-3">
                <dropdown-component [options]="packageTypes" formControlName="packageType"
                    type="packageType"></dropdown-component>
            </div>
            <div class="pb-3">
                <dropdown-component [options]="units1" formControlName="unit1" type="unit1"></dropdown-component>
            </div>
            <div class="pb-3">
                <dropdown-component [options]="units2" formControlName="unit2" type="unit2"></dropdown-component>
            </div>
            <div>
                <dropdown-component [options]="currencies" formControlName="currency"
                    type="currency"></dropdown-component>
            </div>
            <br />
            <button class="w-100" nz-button nzType="primary" type="submit">Save</button>
        </form>
    </div>
</div>